* {
    margin: 0;
    padding: 0;
}

#general {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.video {
    z-index: 100;
    position: relative;
}

.video > .up {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 101;
    background-color: transparent;
}

.video > .down {
    width: 60%;
    height: 40px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 101;
    background-color: transparent;
}